@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.card-title{
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    color: #FFD700;
    text-shadow: 0px 0px 5px #363635;
    margin: 0.5rem 0;
}
.card-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-content img{
    max-width: 500px;
    max-height: 500px;
}

.card-description p{
    font-family: 'Montserrat', sans-serif,'Roboto', sans-serif;
}
.card-description a{
    color: #000000;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border: #000000 1px solid;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .card-title{
        font-size: 1rem;
    }
    .card-content{
        flex-direction: column;
        gap: 50px;
    }
    .card-content img{
        max-width: 300px;
        max-height: 300px;
        border-radius: 10px;
    }
}