.location-container{
    background: #FFF4F8;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.location-title{
    text-align: center;
    font-size: 18px;
}

.location-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    gap: 10px;
}

.location-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-btn a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background: #FFF4F8;
    border: 1px solid #000;
    transition: 0.5s;
}