
.schedule-container{
    background: #FFF4F8;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    padding: 3%;
    border-radius: 10px;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.article-title h4,h1{
    text-align: center;
}
.article img{
    max-width: 100%;
    max-height: 100%;
}

.article-content{
    font-size: 12px;
}
.article-guest-complement{
    font-size: 12px;
    text-align: center;
}
.article-guest-complement ul{
    list-style: none;
}