
.container-generic {
    margin-top: 65px;
    background:#fff;
    width: 100%;
    border-radius: 10px;
}

.container-hero {
    background: linear-gradient(
        to right,
        rgba(152, 123, 102, 0.46),
        rgba(248, 248, 248, 0.442),
        rgba(152, 123, 102, 0.46));
    width: 100%;
    height: 500px;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .container-hero {
        max-height: 450px;
    }
    .container-hero img{
        max-height: 390px;
        max-width: 270px;
        padding: 5px 5px 5px 5px;
    }
}