body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(217deg, rgba(251, 214, 214, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(40, 191, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(202, 127, 255, 0.645), rgba(0,0,255,0) 70.71%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}